<div style="text-align: center">
  <h1>PÁGINA WEB CREADA POR:</h1>
  <h2>ANGEL YARET HERRERA MEDINA</h2>
  <h2>AUGUSTO ALEXANDRE SEGURA HUAMAN</h2>
  <h2>CARLO STEPHANO DONAYRE MEDINA</h2>
  <h2>JOSE ENRIQUE SANDOVAL TIRADO</h2>
  <h2>JORGE RODRIGO CHAVEZ DIAZ</h2>
</div>
